.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 20px;
  direction: rtl;
}

.day-box {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 100px;
  background-color: #f9f9f9;
}

.header-day {
  font-weight: bold;
  text-align: center;
  background: #eee;
  padding: 5px;
}
